@import './base.css';

#app {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
}

main{
  width: 100vw;
  height: 100vh;
  margin: 0 auto;
  padding: 2rem;
  display: flex;
  gap: 10px;
  background: #221f31;
  background-image: url('./purpleBg.png');
  background-size: cover;
  background-repeat: no-repeat;
  position: relative;
  overflow: hidden;
}

.sidebar{
  display: flex;
  writing-mode: vertical-rl;
  text-orientation: sideways-right ;
  text-align: end;
  color: #b0a5e7;
  font-weight: bold;
  padding: .5rem;
}

.icon{
  margin:10px;
  transition: .2s;
}

.icon:hover{
  color: #d0c9f3;
}

.hero{
  flex: 4 2 60%;
  text-align: center;
}

.summary{
  flex: 2 2 30%;
  display: flex;
  flex-direction: column;
 text-align: center;
 color: #d4b0fa;
 font-size: 50px;
 letter-spacing: -1px;
 justify-content: center;
 align-items: center;
}

.summaryContent{
  width: 100%;
  display: flex;
  flex-direction: column;
  align-items: center;
  padding-top: 15vh;
  padding-left: 10vw;
}

.summaryContent h1{
  padding-top: 8vh;
  z-index: 2;
}

.summaryContent p{
  margin-top: 5vh;
  font-size: 15px;
  letter-spacing: 2px;
  z-index: 2;
}

.summary h1{
  font-size: 60px;
  line-height: 98%;
  font-weight: 600;
}

#Circle1{
  width: 80rem;
  height: 80rem;
  border-radius: 50%;
  border: 2px solid rgb(48, 39, 65);
  background: transparent;
  position: absolute;
  top: 50%;
  left: -30%;
  z-index: 1;
}

#Circle2{
  width: 85rem;
  height: 82rem;
  border-radius: 50%;
  border: 1px solid rgb(48, 39, 65);
  background: transparent;
  position: absolute;
  top: 45%;
  left: -25%;
}


